@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  // border: 1px solid red;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("img/quiz-bg.png") no-repeat center -45px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //   height: 99vh;
  height: 100vh;
  position: relative;
}

.btn-next-wrapper {
  .btn-next {
    position: absolute;
    top: 50%;
    right: 80px;
  }
}

#pertanyaan {
  position: relative;
  width: 89vw;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  .pertanyaan-text {
    font-size: 30px;
    font-weight: 700;
    color: azure;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .pertanyaan-media {
    margin-bottom: 10px;

    iframe,
    img {
      width: auto;
      height: 350px;
    }

    iframe {
      aspect-ratio: 16/9;
    }
  }
}

#container-pilihan-ganda {
  position: fixed;
  width: 100%;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  margin: 0 auto;

  .wrapper-pilihan-ganda {
    width: 100%;

    .btn-pg {
      text-align: left;
      font-size: 24px;
      width: 100%;
      max-width: 100%;
      min-height: 3.2vmin;
      margin: 0px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px -6px 0px 0px inset;
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      color: white;
      fill: white;
      transition: box-shadow 0.2s ease 0s, background 0.2s ease 0s,
        opacity 0.2s ease 0s;

      .simbol {
        display: inline-block;
        width: calc(7vmin - 1px);
        max-width: 100%;
        max-height: 100%;
      }
    }

    .btn-pg-red {
      background-color: red;
    }

    .btn-pg-blue {
      background-color: blue;
    }

    .btn-pg-green {
      background-color: green;
    }

    .btn-pg-purple {
      background-color: purple;
    }
  }
}

#container-utility {
  position: relative;
  display: block;

  .wrapper-utility {
    position: absolute;
    top: 20px;
    right: 20px;

    .jumlah-peserta {
      background-color: rgba(#4b4b4b, 0.7);
      border-radius: 5px;
      box-sizing: border-box;
      color: whitesmoke;
      padding: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      width: 100px;
    }

    .button-fullscreen {
      background-color: rgba(#4b4b4b, 0.7);
      border-radius: 5px;
      box-sizing: border-box;
      color: whitesmoke;
      padding: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      width: 80px;
    }

    .button-fullscreen:hover {
      background-color: rgba(#4b4b4b, 0.9);
    }
  }
}
