@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// * {
//   border: 1px solid red;
// }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("img/OF18H90.jpg") repeat center -100px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //   height: 99vh;
  height: 100vh;
  position: relative;
}

#timer {
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 1;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: rgba(#000, 0.8);
}

#answer {
  position: absolute;
  top: 200px;
  right: 100px;
  z-index: 1;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: rgba(#000, 0.8);
}

#next {
  position: absolute;
  bottom: 10px;
  right: 25px;
  z-index: 1;
}

.btn-next-wrapper {
  .btn-next {
    position: absolute;
    top: 50%;
    right: 80px;
  }
}

#pertanyaan {
  position: relative;
  width: 89vw;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  padding: 20px;
  border-radius: 15px;
  background-color: rgba(#2e2e2e, 0.95);

  .pertanyaan-text {
    font-size: 30px;
    font-weight: 700;
    color: azure;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .pertanyaan-media {
    margin-bottom: 10px;

    iframe,
    img {
      width: auto;
      height: calc(100vh - 420px);
    }

    iframe {
      aspect-ratio: 16/9;
    }
  }
}

#container-pilihan-ganda {
  position: absolute;
  width: 100%;
  left: 50%;
  top: calc(100vh - 250px);
  transform: translateX(-50%);
  margin: 0 auto;

  .wrapper-pilihan-ganda {
    width: 100%;

    .btn-pg {
      text-align: left;
      font-size: 22px;
      width: 100%;
      max-width: 100%;
      min-height: 11vmin;
      margin: 0px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px -6px 0px 0px inset;
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      color: white;
      fill: white;
      transition: box-shadow 0.2s ease 0s, background 0.2s ease 0s,
        opacity 0.2s ease 0s;

      .simbol {
        display: inline-block;
        width: calc(7vmin - 1px);
        max-width: 100%;
        max-height: 100%;
      }
    }

    .btn-pg-red {
      background-color: rgb(226, 27, 60);
    }

    .btn-pg-blue {
      background-color: rgb(19, 104, 206);
    }

    .btn-pg-yellow {
      background-color: rgb(216, 158, 0);
    }

    .btn-pg-green {
      background-color: rgb(38, 137, 12);
    }

    .btn-pg-ocean {
      background-color: rgb(10, 163, 163);
    }

    .btn-pg-purple {
      background-color: rgb(134, 76, 191);
    }
  }
}

#game-info {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: rgba(#000, 0.95);
  width: 100%;

  font-size: 18px;
  font-weight: 700;
  color: whitesmoke;
}
